*{
    margin: 0;
    padding: 0;
}
.menu-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 20px;
    cursor: pointer;
    margin: 12px 30px;
}
.menu-icon:hover{
    color:red;
}
.navbar-brand:hover{
    cursor: pointer;
}

i{
    font-size: 20px;
}

/* /* search bar styling */
.searchBar{
    width:500px;
    height:35px;
    border-radius: 10px;
    padding: 0px 10px;
}
#seacrhButton{
    background-color: white;
    border: none;
    /* margin-right: 40px; */
    position: relative;
    cursor: pointer;

}
#seacrhButton:hover{
    color: red;
}
.searchHoverText{
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black; 
    padding: 5px;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
}
#seacrhButton:hover .searchHoverText{
    visibility: visible;
    opacity: 1;
}

#micButton{
    background-color: white;
    border: none;
    position: relative;
    cursor: pointer;
}
#micButton:hover{
    color:red;
}
.micHoverText{
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    width:200px;
    transform: translateX(-50%);
    background-color: white;
    color: black; 
    padding: 5px;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
}
#micButton:hover .micHoverText{
    visibility: visible;
    opacity: 1;
}
#navbarCreateButton{
    background-color: white;
    border: none;
    position: relative;
    /* margin-right: 20px; */
}
.navbarCreateHoverText{
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    width:200px;
    transform: translateX(-50%);
    background-color: white;
    color: black; 
    padding: 5px;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
}
#navbarCreateButton:hover .navbarCreateHoverText{
    visibility: visible;
    opacity: 1;
}

#notificationButton{
    background-color: white;
    border: none;
    position: relative;
    float: right;
    /* margin-right: 20px; */
}
.notificationHoverText{
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    width:200px;
    transform: translateX(-50%);
    background-color: white;
    color: black; 
    padding: 5px;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
}
#notificationButton:hover .notificationHoverText{
    visibility: visible;
    opacity: 1;
}

#profileButton{
    background-color: white;
    border: none;
    position: relative;
}
.profileButtonHoverText{
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black; 
    padding: 5px;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
}
#profileButton:hover .profileButtonHoverText{
    visibility: visible;
    opacity: 1;
}
#profileButton img{
    width:7%;
    border-radius: 50%;
}


/* main content styling */

 
  
#videoContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:60px 20px;
    padding:20px 5px;
    margin-left: 100px;
}
#videoContainer > div {
    height:270px;
}
.title{
    font-size: 14px;
    font-weight: 500;
    color: red;
}
#videoContainer > div > img{
    height:200px;
    width:100%;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}
#videoContainer > div > img:hover{
    transform: scaleX(1.08);
}
.channelName, .viewsCount{
    color:red;
    margin-top: -20px;
    font-weight: 600;
    font-size: 14px;
}
/* #videoContainer > div > b{
    position: absolute;
    background-color: black;
    padding: 5px;
    color: white;
    left: 225px;
    border-radius: 5px;
    font-size: 10px;
} */
  
.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0px;
    left:0px;
  }
  
  .navbar-brand a {
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  
  .navbar-menu {
    display: flex;
    align-items: center;
  }
  
  .navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-nav li {
    margin: 0 10px;
  }
  
  .navbar-nav li a {
    text-decoration: none;
    color: #333;
  }
  
  .navbar-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
  }
  
  .toggle-icon {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #333;
    position: relative;
    transition: background-color 0.3s ease-in-out;
  }
  
  .toggle-icon:before,
  .toggle-icon:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #333;
    position: absolute;
    transition: transform 0.3s ease-in-out;
  }
  
  .toggle-icon:before {
    transform: translateY(-6px);
  }
  
  .toggle-icon:after {
    transform: translateY(6px);
  }
  
  @media (max-width: 768px) {
    .navbar-menu {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .navbar-nav {
      flex-direction: column;
    }
    
    .navbar-nav li {
      margin: 10px 0;
    }
    
    .navbar-toggle {
      display: block;
    }
    
    .toggle-icon {
      background-color: transparent;
    }
    
    .toggle-icon:before {
      transform: translateY(0) rotate(45deg);
    }
    
    .toggle-icon:after {
      transform: translateY(0) rotate(-45deg);
    }
  }


  /* left side bar styling */

  .leftSideBar{
    width:12%;
    height:650px;
    overflow-y: scroll;
    scrollbar-width: thin;
   scrollbar-color: transparent transparent;
  }

  .rightSideBar{
    width:12%;
    /* border:2px red solid; */
    height:650px;
  }

  .mainContainer{
    width:76%;
    height: 650px;
    /* border:2px red solid; */
    overflow-y: scroll;
    scrollbar-width: thin;
   scrollbar-color: transparent transparent;
  }

  .mainContainer::-webkit-scrollbar, .leftSideBar::-webkit-scrollbar {
    width: 6px;
  }
  
  .mainContainer::-webkit-scrollbar-track, .leftSideBar::-webkit-scrollbar-track{
    background-color: transparent; 
  }
  
  .container::-webkit-scrollbar-thumb, .leftSideBar::-webkit-scrollbar-thumb{
    background-color: transparent;
  }
  .main-pages{
    margin-top: 20px;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    align-content: center;
    /* justify-content: space-around; */
  }
  .leftSideBar button{
    margin-bottom: 20px;
    margin-left: 10px;
    padding:10px;
    border: none;
    font-weight: 500;
    background-color: white;
  }
  .leftSideBar button:hover{
    background-color: lightgray;
    border-radius: 10px;
   
  }
  